*
{
	font-family: sans-serif;
}

h2, h1, h3
{
	text-align: center;
}
div {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none; 
	user-select: none;
	text-align: center;
}
.large_box
{
	margin: 0px auto;
	margin-top: 30px;
	background-color: lightblue;
	width: 900px;
	height: auto;
	text-align: center;	
}
.large_box div
{
	background-color: blue;
	display: inline-block;
	width: 200px;
	height: 170px;
	margin: 65px 30px;
	cursor: pointer;
}

button {
	margin-top: 15px;
	padding: 10px 15px;
	cursor: pointer;
}